
@import url('http://fonts.cdnfonts.com/css/creato-display?styles=96722,96723,96724,96725,96718,96719,96720,96721,96714,96715,96716,96717,96712,96713');


#menu-hoofdmenu {
  font-family: 'Creato Display', sans-serif;
  $bg-color: white;
  display: flex;
  color: black;
  size: 40px;
  width: 95%;
  justify-content: space-between;


  li, ul, :link {
    list-style-type: none;
    text-decoration: none;
    padding: 15px 20px 10px;
    color: black;
    font-size: 25px;
    display: block;
    border-bottom: 5px solid black;


  }

  :visited, :active, :hover {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 25px;
    border-bottom: 5px solid white;
  }

}
@media only screen and (max-width: 1150px) {
  body {
    #menu-hoofdmenu {
      font-family: 'Creato Display', sans-serif;
      $bg-color: white;
      display: flex;
      color: black;
      font-size: 20px;
      margin-left: -4vw;
      justify-content: space-between;
      li, ul, :link {
        list-style-type: none;
        text-decoration: none;
        padding: 5px 5px 5px;
        color: black;
        font-size: 20px;
        display: block;



      }
    }
  }
}
@media only screen and (max-width: 785px) {
    #menu-hoofdmenu {
      font-family: 'Creato Display', sans-serif;
      margin-left: -6vw;



    }
}

